{% extends "base.html" %}

{% load static %}

{% block title %}
    Items list
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2> Список товаров</h2>
    <div class="items">
        {% for item in items %}
        <div class="item">
            <a href="{% url "item-detals" item.id %}">
                <p class="item_name">{{item.name}}</p>
                <p>Бренд: {{item.brand}}</p>
                <p>Описание товара</p>
                <p>{{item.description}}</p>
            </a>
        </div>
        {% endfor %}
</div>
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items list</title>
</head>
<body>
    <header>
        / <a href="{% url "home" %}">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a>
    </header>
    <h2> Список товаров</h2>
    <div class="items">
        {% for item in items %}
        <div class="item">
            <a href='/item/{{item.id}}'>
                <p class="item_name">{{item.name}}</p>
                <p>Бренд: {{item.brand}}</p>
                <p>Описание товара</p>
                <p>{{item.description}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html> {% endcomment %}