{% extends "base.html" %}


{% block title %}Item page{% endblock %}

{% block content %}
    <h2>Имя: {{item.name}} {{item.brand}}</h2>
    <div>
        Количество: {{item.count | default:" Товар отсутствует"}}
    </div>
    <div>
        Описание: {{item.description}}
    </div>
    <div>
        <i>Цвета</i>
        {% if colors %}
        <ul class="ul_no_mark">
            {% for color in colors%}
                <li>
                    <div class="div_color" style="background-color: {{color.name}};">&nbsp;&nbsp;{{color.name}}</div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <br>Данных нет
        {% endif %}
    </div>
    <br><br>
    <p><a href="{% url "items-list" %}">Назад к списку товаров</a></p>
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item page</title>
</head>
<body>
    <header>
        / <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a>
    </header>
    <h2>Имя: {{item.name}} {{item.brand}}</h2>
    <div>
        Количество: {{item.count | default:" Товар отсутствует"}}
    </dev>
    <div>
        Описание: {{item.description}}
    </dev>
    <br><br>
    <p><a href="/items">Назад к списку товаров</a></p>
</body>
</html> {% endcomment %}



